<!DOCTYPE html>
<html lang="en" , dir="ltr">

<head>
    <script src="https://kit.fontawesome.com/bbf151d761.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-U1s5oFxWovwhDNPvOtnqFccF4bDIsH7BRzUnzhOP+JLdhB3B/G5G5C7vm0oRvX"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {#    <link rel="stylesheet" href="../static/index_style.css">#}
    <title>Baby Tracker</title>
</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}"><i
            class="fa-solid fa-baby-carriage fa-xl"></i>BabyTracker</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>


    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
                <div class="dropdown d-inline-block">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Select Baby</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for baby in babies %}
                            <a class="dropdown-item"
                               href="{{ url_for('baby.set_current_baby', baby_id=baby.id) }}">{{ baby.name }}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('baby.get_add_baby') }}">Add Baby</a>
                    </div>
                </div>
                <a href="{{ url_for('index') }}" class="nav-item nav-link">Events</a>
                <a href="{{ url_for('get_generate_length_percentile_graph') }}" class="nav-item nav-link">Percentile</a>
                <a href="{{ url_for('auth.logout') }}" class="nav-item nav-link">Logout</a>


                </div>
            {% else %}
                <div class="navbar-nav">
                    <a href="{{ url_for('auth.get_login') }}" class="nav-item nav-link">Login</a>
                    <a href="{{ url_for('auth.get_register') }}" class="nav-item nav-link">Register</a>
                </div>
            {% endif %}
    </div>
    {% if current_user.is_authenticated %}
        <div class="navbar-header ml-auto">
            <h4 class="navbar-title"> Hi {{ session['baby_name'] }} <i class="fa-solid fa-baby fa-bounce"
                                                                       style="--fa-animation-duration: 2.5s; --fa-bounce-height: 0.3;"></i>
            </h4>
        </div>
    {% endif %}
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {{ messages[0] }} <a href={{ request.url }} class="alert-link"> x</a>
        </div>
    {% endif %}
{% endwith %}


{% block content %}

{% endblock %}
</body>

</html>
